* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

.text-white {
    color: #fff !important;
}

.text-center {
    text-align: center !important;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.col {
    padding-left: 8px;
    padding-right: 8px;
}

.col-3 {
    width: calc(100% / 3);
}

.col-2 {
    width: 50%;
}

.col-full {
    width: 100%;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.pull-right {
    float: right;
}

.pull-right::after {
    clear: both;
}

/* Header */
#header {
    border-radius: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    position: fixed;
    width: calc(100% - 40px); 
    min-height: 10vh;
    display: flex;
    z-index: 1;
    background-color: #ffffffc9;
    backdrop-filter: blur(10px);
    margin: 20px; 
    padding: 10px; 
}

/* Nav */
#header .navbar {
    width: 100%;
    max-width: 1400px;
    height: 90px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo {
    color: #6a6d78;
    font-size: 2rem;
    font-weight: bold;
}
.navbar .logo a {
    color: #0059EA;
    font-size: 1.4rem;
    font-weight: bold;
}
#header .nav-list {
    display: flex;
    gap: 2rem;
}
#header .nav-list .nav-item {
    list-style: none;
}
#header .nav-list .nav-link {
    font-weight: 500;
    text-decoration: none;
    color: #333;
    font-size: 16px;
}
#header .nav-list .nav-link:hover {
    color: #0059EA;
}
#header .navbar .toggle-btn {
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    display: none;
}
.action-btn a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    padding: 14px 50px;
}
.action-btn .log-btn {
    color: #333;
}
.action-btn .log-btn:hover {
    color: #0059EA;
}
.action-btn {
    list-style: none;
    text-decoration: none;
    display: flex;
    cursor: pointer;
    transition: 0.2s;
}
.action-btn .reg-btn {
    background-color: #0059EA;
    border: none;
    outline: none;
    border-radius: 40px;
}
.action-btn .reg-btn:hover {
    transform: scale(1.05,1.05);
    transition: 0.8s;
}
.action-btn .reg-btn:active {
    transform: scale(0.95,0.95);
}

#userLogin {
    display: none; 
    color: #333;
    font-weight: 500;
    font-size: 16px;
    padding: 14px 20px;
}





/* Responsive: Tablet  */
@media (max-width: 1024px) {
    #header {
        width: calc(100% - 20px); 
        margin: 10px; 
        padding: 8px; 
    }

    #header .navbar {
        max-width: 100%; 
        height: 70px; 
    }
    .profile-dropdown {
        margin-top: 18px;
    }
}

/* Responsive: Mobile  */
@media (max-width: 768px) {
    #header {
        width: calc(100% - 10px); 
        margin: 5px; 
        padding: 5px; 
        border-radius: 10px; /
    }

    #header .navbar {
        height: auto; 
        justify-content: space-around;
        padding: 10px 0; 
    }
    #header .nav-list .nav-link {
        display: none;
    }
    #log-reg-js {
        display: none !important; 
    }
    .menu-btn {
        display: block !important;
    }
    #user-profile {
        max-width: 150px; 
    }
    #user-profile #userLogin {
        max-width: 100px; 
        font-size: 12px;
    }
    #user-profile i {
        font-size: 30px; 
    }
    #user-profile .profile-dropdown {
        right: auto;
        left: 0; 
        width: 100%; 
    }
    .profile-dropdown {
        margin-top: 16px;
    }
}

/* User Profile */
#user-profile {
    justify-content: center; 
    align-items: center;
    color: #fff;
    position: relative;
    border-radius: 30px;
    background-color: #007bff;
    display: flex;
    cursor: pointer;
    max-width: 200px; 
    padding: 5px 10px; 
}

#user-profile #userLogin {
    color: #fff;
    padding: 0 10px 0 5px; 
    max-width: 150px; 
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    font-weight: 500;
    font-size: 16px;
}

#user-profile i {
    padding: 5px 0 5px 5px; 
    color: #fff;
    font-size: 40px;
    border-radius: 50%;
}
/* User Profile Dropdown */
.dropdown {
    position: relative;
    cursor: pointer;
}

.profile-content {
    display: flex;
    align-items: center;
}

.profile-dropdown {
    margin-top: 16px;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: #ffffff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    min-width: 150px;
    z-index: 1001;
}

.profile-dropdown a {
    text-align: center;
    display: block;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.profile-dropdown a:hover {
    background: #f0f0f0;
    border-radius: 12px;
}
.profile-dropdown #profile-logout {
    margin-top: 4px;
    border-radius: 12px;
    background-color: #007bff;
    color: #fff;
}
.profile-dropdown #profile-logout:hover {
    border-radius: 12px;
    opacity: 0.8;
}


/* menu */
.menu-btn {
    display: none; 
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
}

/* Mobile Menu */
.mobile-menu {
    margin-top: 40px;
    display: none; 
    position: absolute;
    top: 70px;
    right: 10px;
    left: 10px;
    height: 80vh;
    background: #ffffff;
    padding: 0 10px; 
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}
.mobile-menu .nav-list-mobile {
    list-style: none;
    padding: 0;
    margin: 0; 
    display: block !important; 
}

.mobile-menu a {
    justify-content: center;
    text-align: center;
    display: block;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
}

.mobile-menu .nav-item {
    padding: 12px;
    margin-top: 8px;
}
.mobile-menu .nav-item:hover {
    transition: 0.4s;
    border-radius: 40px;
    background-color: #f0f0f0;
}
.mobile-menu .nav-link {
    margin-top: 10px;
    display: block;
    padding: 5px 10px;
    color: #333;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}
.mobile-menu a:not(.nav-link) {
    margin-right: 30px;
    margin-left: 30px;
    border-radius: 40px;
    background-color: #007bff;
    margin-top: 14px;
    display: block;
    padding: 16px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
}


@media (min-width: 769px) {
    #log-reg-js {
        display: flex; 
    }
    .menu-btn, .mobile-menu {
        display: none !important; 
    }
    .profile-dropdown {
        margin-top: 26px;
    }
}

